body {
    background: rgb(34, 34, 31);
    --whiteTextColor: rgb(232, 232, 232);
}

h1 {
    text-align: center;
    color: var(--whiteTextColor);
    font-size: 1.5rem;
}

p {
    text-align: center;
    color: var(--whiteTextColor);
}

* {
    font-family: "メイリオ"
}

.streak p {
    margin: 0.3em;
    font-size: 0.75rem;
}

#current-streak {
    left: 0.23rem;
    float: left;
}

#current-streak-text, #max-streak-text {
    margin: 0;
    font-size: 1rem;
}

.grow-animation {
    animation: grow-animation 0.5s;
}

@keyframes grow-animation {
    from { transform: scale(1.7); }
    to {transform: scale(1); }
}

#max-streak {
    right: 0.23rem;
    float: right;
}

#toppest-container {
    margin: auto;
}

#top-container {
    margin: 0;
    border-radius: 0.64rem;
    padding: 0.73rem;
    box-shadow: 0.3rem 0.3rem 0.36rem rgb(28, 28, 28);
    background: rgb(44, 43, 41);
}

#streak-container:after, #settings-child-container:after{
    content: "";
    display: table;
    clear: both;
}

#verb-box {
    display: inline-block;
    /*background: rgb(165, 100, 40);*/
    padding: 0.45rem;
    border-radius: 1.14rem;
    /* Using position relative because setting negative margins caused alignment to rely on streak text above*/
    position: relative;
}

#verb-box p {
    display: inline-block;
    margin-left: 1.18rem;
    margin-right: 1.18rem;
}

#verb-container {
    margin-top: 0;
    text-align: center;
    margin-bottom: -0.45rem;
}

#verb-text {
    font-size: 2.1rem;
    margin-top: 0;
    margin-bottom: -0.27rem;
}

#definition {
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 0.18rem;
}

/* Wait until select font to fix issue where hiragana causes all elements below to move down slightly */
#verb-type {
    min-height: 1.05rem;
    font-size: 0.91rem;
    margin: 0;
}

#conjugation-inquery-text {
    font-size: 1.36rem;
    margin: 0.45rem;
}

#status-container {
    text-align: center;
    margin: 1.09rem;
    min-height: 4rem;
}

#status-box {
    /* change between inline-flex and none */
    display: none;
    background: green;
    border-radius: 0.91rem;
    min-width: 66%;
    min-height: 4rem;
    justify-content: center;
    flex-direction: column;
}

#status-text {
    line-height: 1.5;
    vertical-align: middle;
    font-size: 1.09rem;
    color: white;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

#input-container {
    text-align: center;
    padding-top: 0.36rem;
    margin: 0.45rem;
    position: relative;
}

.tooltip-fade-animation {
    animation: tooltip-fade-animation 6s;
}

@keyframes tooltip-fade-animation {
    0% {
        opacity: 0;
    }
    6% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.tooltip {
    position: absolute;
    font-size: 0.68rem;
    color: white;
    background: red;
    border-radius: 0.3rem;
    padding: 0 0.4rem;
    bottom: 100%;
    left: 7%;

    opacity: 0;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 14%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: red transparent transparent transparent;
  }

#main-text-input, #settings-child-container {
    width: 88%;
}

#main-text-input {
    border-radius: 5rem;
    font-size: 1rem;
    border: 0.068rem;
    background: white;
    padding-top: 0.27rem;
    padding-bottom: 0.18rem;
    padding-left: 0.45rem;
    padding-right: 0.45rem;
}

#main-text-input:hover:not(:focus):not(:disabled) {
    background: rgb(224, 224, 224);
}

#main-text-input:disabled {
    background:rgb(150, 150, 150);
}

#settings-container {
    text-align: center;
    margin: 0;
}

#settings-child-container {
    display: inline-block;
}

#settings-table {
    table-layout: fixed;
    width: 100%;
}

#settings-table td {
    width: 33.33%;
}

button {
    float: right;
    background: rgb(63, 63, 63);
    border: none;
    box-shadow: 0 0.045rem 0 rgb(35, 35, 35), 0.045rem 0 0 rgb(35, 35, 35),
    0.09rem 0.045rem 0 rgb(35, 35, 35), 0.045rem 0.09rem 0 rgb(35, 35, 35),
    0.136rem 0.09rem 0 rgb(35, 35, 35), 0.09rem 0.136rem 0 rgb(35, 35, 35);
    border-radius: 0.4rem;
    color: var(--whiteTextColor);
    padding-top: 0.18rem;
    padding-bottom: 0.18rem;
    padding-right: 0.27rem;
    padding-left: 0.55rem;
    font-size: 0.73rem;
    margin-right:-0.27rem;
}

#back-button {
    padding-right: 0.4rem;
}

button:hover {
    background: rgb(70, 70, 70);
}

button:disabled {
    background: rgb(40, 40, 40);
    color: rgb(135, 135, 135);
}

#press-any-key-text {
    margin: 0;
    font-size: 0.64rem;
    display: none;
    color: var(--whiteTextColor);
}

h2 {
    margin-top: 0;
    margin-bottom: 0.45rem;
    text-align: center;
    color: var(--whiteTextColor);
    font-size: 1.1rem;
}

#options-view {
    padding-left: 0.73rem;
    padding-right: 0.73rem;
    display: none;
}

#options-form {
    font-size: 0.64rem;
    text-align: left;
    color: var(--whiteTextColor);
}

#options-form p {
    text-align: left;
    margin: 0.18rem;
}

.must-choose-one-text {
    float:right;
    color: rgb(236, 51, 51);
    text-align: right;
}

#options-form td:not(.must-choose-one-text) {
    width: 35%;
}

#options-form input {
    min-width: 13px;
    min-height: 13px;
    width: 0.6rem;
    height: 0.6rem;
}

.options-indent {
    padding-left: 1.36rem;
}

#back-button-container {
    display: inline-block;
    width: 100%;
    margin-top: 0.45rem;
}

#options-form h3 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}

.hide-furigana rt, .display-none{
    display: none;
}

hr {
    margin: 0.18rem;
    border: 0.045rem solid rgb(66, 66, 66);
}

#adjectives-h3-container, #verbs-h3-container {
    margin-top: 0.45rem;
    margin-bottom: 0.45rem;
}

#options-form p {
    margin-left: 0;
    margin-right: 0;
}

.footer-text {
    color: gray;
    font-size: 0.61rem;
    margin-bottom: 0.1rem;
}

#donation-seciton {
    text-align: center;
    display: none;
}